<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <h1>Homepage <%= "Kyle"; %></h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, omnis.
      Explicabo sunt sapiente, repudiandae ea recusandae soluta asperiores a qui
      distinctio hic pariatur aspernatur quae autem vitae, animi maiores
      assumenda?
    </p>
  </body>
</html>
